body {
    box-sizing: border-box;
    padding: 0 15px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.row.one {
    background-color: #6c6ce5;
    color: white;
}

.menu-btn {
    font-size: 1.5rem;
    padding: 22px 25px;
    background-color: #2b2424;
}

.menu-btn:hover {
    cursor: pointer;
    background-color: #7e7676;
}

.row.two {
    justify-content: end;
    background-color: #2b2424;
    color: white;
}

.menu-links li {
    list-style: none;
    font-size: 1.3rem;
}

.menu-links {
    display: flex;
    justify-content: end;
    gap: 20px;
    width: 100%;
    padding-right: 17%;
}

.hidden {
    display: none;
}


/* carousel styling */
.carousel {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
}

.slide {
    position: relative;
    width: 100%;
}

.slide img {
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
}

.slide-caption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1.5rem;
    color: rgba(255, 255, 255, 0.871);
    font-size: 2.5rem;
    font-weight: bold;
    background-color: rgba(101, 100, 100, 0.36);
}

.slide-hidden {
    display: none;
}

.slide-visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

/* Navigation control styles */
.carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between; /* put space between the navigation buttons */
    position: absolute; /* position navigation buttons on top */
    top: 50%; /* center navigation buttons on the slide */
    transform: translateY(-50%); /* align navigation buttons */
}

.slide-btn {
    cursor: pointer;
    font-size: 1.5rem;
}

#slide-button-prev {
    margin-left: 20px;
}

#slide-button-next {
    margin-right: 20px;
}

.carousel-dots {
    text-align: center; 
}

.dot {
    opacity: 0.7; /* gray out dots for slides not being visted */
}

.dot:checked {
    border: none;
    outline: 2px solid black; /* dot for currently visited slide */
}

/* hanlde smooth transitions between slides */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}